<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="WQueryTestSuite" verbose="1">
	<test name="Integration" preserve-order="true">
		<classes>
			<class name="org.wquery.GeneratorsTestSuite" />
            <class name="org.wquery.TransformationsTestSuite" />
            <class name="org.wquery.ProjectionsTestSuite" />
            <class name="org.wquery.FunctionsTestSuite" />
            <class name="org.wquery.FiltersTestSuite" />            
            <class name="org.wquery.ArithmeticsTestSuite" />      
            <class name="org.wquery.MultiPathsTestSuite" />
            <class name="org.wquery.VariablesTestSuite" />            
            <class name="org.wquery.ImperativeExprsTestSuite" />
            <class name="org.wquery.QueryReaderTestSuite" />
            <class name="org.wquery.UpdatesTestSuite" />
        </classes>
	</test>
</suite>