 ------
Download WQuery ${project.version}
 ------
Marek Kubis
 ------
July 2010
 ------

Download WQuery

* Current Release

*------------------------------------------------------------------------------------+---------------------------------------------------------------------------------+
| Package                                                                            | URL                                                                             |
*------------------------------------------------------------------------------------+---------------------------------------------------------------------------------+
| WQuery 0.3.0                                                                       | {{{repo/org/wquery/wquery/0.3.0/wquery-0.3.0-bin.zip} wquery-0.3.0-bin.zip}}    |
*------------------------------------------------------------------------------------+---------------------------------------------------------------------------------+

~~ * Previous Releases
~~  No previous releases already

* Maven Repository

  WQuery Maven repository is located at {{{http://wquery.org/repo} http://wquery.org/repo}}
  
  You may copy paste the following repository definition into your pom.xml
  
+----------------------------------------+  
<repository>
    <id>wquery-repository</id>
    <name>WQuery Repository</name>
    <url>http://wquery.org/repo</url>
</repository>
+----------------------------------------+ 
  
  WQuery package has the following coordinates
  
+----------------------------------------+  
<dependency>
    <groupId>org.wquery</groupId>
    <artifactId>wquery</artifactId>
    <version>0.3.0</version>
</dependency>
+----------------------------------------+