 ------
Download WQuery ${project.version}
 ------
Marek Kubis
 ------

Download WQuery

* Current Release

*------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------+
| Package                                                                            | URL                                                                                               |
*------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------+
| WQuery 0.5.1                                                                       | {{{http://wquery.org/repo/org/wquery/wquery/0.5.1/wquery-0.5.1-bin.zip} wquery-0.5.1-bin.zip}}    |
*------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------+

* Previous Releases

*------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------+
| Package                                                                            | URL                                                                                               |
*------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------+
| WQuery 0.5.0                                                                       | {{{http://wquery.org/repo/org/wquery/wquery/0.5.0/wquery-0.5.0-bin.zip} wquery-0.5.0-bin.zip}}    |
*------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------+
| WQuery 0.4.0                                                                       | {{{http://wquery.org/repo/org/wquery/wquery/0.4.0/wquery-0.4.0-bin.zip} wquery-0.4.0-bin.zip}}    |
*------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------+
| WQuery 0.3.0                                                                       | {{{http://wquery.org/repo/org/wquery/wquery/0.3.0/wquery-0.3.0-bin.zip} wquery-0.3.0-bin.zip}}    |
*------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------+

* Maven Repository

  WQuery Maven repository is located at {{{http://wquery.org/repo} http://wquery.org/repo}}
  
  You may copy paste the following repository definition into your pom.xml
  
+----------------------------------------+  
<repository>
    <id>wquery-repository</id>
    <name>WQuery Repository</name>
    <url>http://wquery.org/repo</url>
</repository>
+----------------------------------------+ 
  
  WQuery package has the following coordinates
  
+----------------------------------------+  
<dependency>
    <groupId>org.wquery</groupId>
    <artifactId>wquery</artifactId>
    <version>0.5.1</version>
</dependency>
+----------------------------------------+