/* General */

body, th, td {
	font-family: arial, sans-serif;
	font-size: 9pt;
}

body {
	margin: 8px;
}

h1, h2, h3 {
	margin: 16px 0px 8px 0px;
}

ul, ol {
	margin: 8px 0px 8px 0px;
}	

table.layout td, table.layout th {
	vertical-align: baseline;
}

td.vertical-separator {
	border-left: 1px solid #999;
}

/* Item */

table.item-statistics {
    margin: 4px;
	border-collapse: collapse;
	width: 100%;
}

table.item-statistics th, table.item-statistics td {
	padding: 2px;
}

table.item-statistics th {
	text-align: left;
}

table.item-children {
    margin: 4px;
	border-collapse: collapse;
	width: 100%;
}

table.item-children th, table.item-children td {
	border: 1px solid #ddd;
	padding: 4px;
}

table.item-children thead th {
	background: #D0F0D0;
}

table.item-children tbody th {
	text-align: left;
	background: #F0FFF0;
}

div.coverage-bar div.negative {
	border: none; 
	min-width: 50px; 
	padding: 0px; 
	background: #d00;
}

div.coverage-bar div.positive {
	background: #0d0;
	height: 12px;
}

div.coverage-bar div.not-available {
	border: none; 
	min-width: 50px; 
	padding: 0px; 
	background: #bbb;
	height: 12px;
}

td.coverage {
	text-align: right;
}

td.complexity {
	text-align: right;
}

td.number {
	text-align: right;
}


/* Rounded-box */

div.rounded-box {
	background: #D0F0D0;
}

div.round1, div.round2, div.round4 {
	font-size: 0;
	height: 1px;
	margin: 0;
	padding: 0;
}

div.round4 {
	border-left: 4px solid #FFFFFF;
	border-right: 4px solid #FFFFFF;
}

div.round2 {
	border-left: 2px solid #FFFFFF;
	border-right: 2px solid #FFFFFF;
}

div.round1 {
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
}

div.box-inner {
	margin: 0;
	padding: 0 13px;
}

/* Navigation */

div.navigation ul.menu {
	padding: 4px;
}

div.navigation ul.menu > li {
	list-style: none;
}

div.navigation ul.package-list {
	padding: 4px
}

div.navigation ul.package-list > li {
	list-style: none;
}

/* Source */
table.source {
	width: 100%;
    margin: 4px;
	border-collapse: collapse;
}

table.source td {
	font-size: 9pt;
	border: 1px solid #ddd;
	padding: 2px;
}

table.source tr.completely-covered {
	background-color: #efe;
}

table.source tr.partialy-covered {
	background-color: #ff9;
}

table.source tr.not-covered {
	background-color: #fbb;
}

table.source td.line-number {
	text-align: right;
}

table.source td.line-touch {
	text-align: right;
}

table.source td.line-text {
	white-space: pre;
	font-family: Courier New, serif;
}

/* Copyright */

div.copyright {
	margin: 24px 8px 24px 8px;
	border-top: 1px dotted #bbb;
	padding: 4px;
}
